*{
    margin:0;
    padding : 0;
    box-sizing:border-box;
}
section{
    display :flex;
    height:100vh;
}
.box1{
    width:15%;
    background-color: rgb(219, 209, 209);
}
.logo2{
    width: 65%;
    margin-left: 30px;
    margin-top: 20px;
}
.box2{
    width:85%;
    background-color: lightgrey;   
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.small_box{
    width:100%;
    height:70px;
    background-color: #fff;

}
.box3{
    width :98%;
    color: white;
    height: 50px;
    background-color:  #030c0f;
    padding-left: 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.sidebar{
    width: 260px;
    background-color: rgb(66, 64, 160);
    border-radius: 50px 0 0 50px;
    height: 50px;
    display: flex;
    margin-left: 20px;
    color: #fff;
    margin-top: 20px;
}
.icon{
    position: absolute;
    width: 25px;
    justify-content: center;
    align-items: center;
}
.icon_container{
    width:35px;
    height:35px;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #fff; 
}
.details_box{
    width :98%;
    height: 400px;
    background-color:  #2b4852;
    margin: 20px;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 10px;
}
.upper{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.ip1{
    display: flex;
    flex-direction: column;
    margin:20px;
    margin-right: 70px;
}
.ip2{
    height: 30px;
    width:350px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}
.lower{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.ip3{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    background-color: rgb(19, 19, 158);
}
.ip4{
    height: 30px;
    width: 200px;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: grey;
}