*{
    margin:0;
    padding : 0;
    box-sizing:border-box;
}
section{
    display :flex;
    height:100vh;
}
.box1{
    width:15%;
    background-color: hsl(0, 0%, 100%);
}
.logo2{
    width: 65%;
    margin-left: 30px;
    margin-top: 20px;
}
.box2{
    width:85%;
    background-color: hsl(0, 4%, 82%);   
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.small_box{
    width:100%;
    height:70px;
    background-color:hsl(228, 71.4%, 98.6%);

}
.box3{
    width :98%;
    color: black;
    height: 50px;
    background-color: hsl(0, 0%, 99.2%);
    padding-left: 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.sidebar{
    width: 260px;
    background-color: hsl(196.3, 97.5%, 47.3%);
    border-radius: 50px 0 0 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    color: #fff;
    margin-top: 20px;
}
.text{
    color: #fff;
    margin:15px;

}
.icon{
    position: absolute;
    width: 25px;
    justify-content: center;
    align-items: center;
}
.icon_container{
    width:35px;
    height:35px;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #fff; 
}
.details_box{
    width :98%;
    height: 400px;
    background-color:  hsl(0, 0%, 99.2%);
    margin: 20px;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    
}
.upper{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.ip1{
    display: flex;
    flex-direction: column;
    margin:20px;
    margin-right: 70px;
}
.ip2{
    height: 30px;
    width:350px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: azure;
}
.lower{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.ip3{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    color: #fff;
    background-color: hsl(196.3, 97.5%, 47.3%);
}
.ip4{
    height: 30px;
    width: 200px;
    margin: 20px;
    color: #grey;
    border-radius: 5px;
    padding: 10px;
    background-color:azure;
}